form {
    display: flex;
    flex-direction: column;
}

form .section-input {
    display: flex;
    flex-direction: column;
    padding: .5em;
    gap: .5em;
}
form .section-input label {
    font-size: 1.2em;
}
form .section-input input {
    border: 0;
    outline: 0;
    font-size: 1.2em;
    text-indent: .5em;
    line-height: 1.2em;
    height: 1.5em;
    border: .1em solid black;
    border-radius: .5em;
}

form button {
    margin-top: auto;
    text-align: center;
    cursor: pointer;
    align-self: center;
    min-width: 40%;
    background-color: green;
    padding: .5em 1em ;
    color: white;
    border-radius: .5em;
}