/* overlay */
.DialogOverlay {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

/* content */
.DialogContent {
    display: flex;
    flex-direction: column;
    background-color: var(--color-101);
    border-radius: 1em;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    max-height: 85vh;
    min-height: 500px;
    /* padding: 1em; */
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
    outline: none;
}

    /* Title */
    .DialogTitle {
        color: var(--color-1);
        --margin: calc(1em - 1rem);
        margin: var(--margin) var(--margin) 0 var(--margin);

        display: grid;
        align-items: center;
        box-sizing: content-box;
        
        grid-template-columns: auto 2em;
        height: 2em;
        font-size: 1.5em;
        border-bottom: .2em solid var(--color-1);
    }
    .DialogTitle .title {
        font-size: 1.5em;
    }
    .DialogTitle .close {
        cursor: pointer;
    }
    /* Description */
    .DialogDescription {
        display: flex;
        flex-direction: column;
        gap: 1em;
        --margin: calc(.5em);
        margin: 0 var(--margin) 0 var(--margin);

        flex-grow: 1;
        padding: .5em;
    }


@keyframes overlayShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}