nav {
    background-color: var(--color-3);
    position: fixed;
    bottom: 0;
    width: 100svw;
    height: var(--nav-heigth);
    padding: .2em;

    display: flex;
    align-items: center;
    flex-grow: 1;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;

    list-style: none;
}
nav ul li {
    display: block;
    background-color: var(--color-2);
    color: white;
    min-width: 7em;
    text-align: center;
    padding: .5em 1em;
    border-radius: .5em;
    font-weight: 700;
    letter-spacing: .1em;
    cursor: pointer;
}
