.description {
    display: flex;
    flex-direction: column;
}
.description .info {
    font-size: 1.5em;
}

.description .options {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    width: 100%;
    margin-top: auto;
    text-align: center;
}

.description .options button {
    /* width: 50; */
    margin-top: auto;
    text-align: center;
    cursor: pointer;

    background-color: green;
    color: white;
    padding: .5em 1em;
    color: white;
    border-radius: .5em;
    width: 70%;
}

.description .options button.delete {
    background-color: red;
}