@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --nav-heigth: 3rem;

  --color-1: #004D40;
  --color-1-2: #750000;
  --color-2: #00796B;
  --color-3: #48A999;
  --color-4: #FFFFFF;
  --color-5: #E0F2F1;

  --color-101: #DADADA;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: var(--color-1);
}

body, html {
    height: 100svh;
}

a, ul, button, input {
    all: unset
}