.productsRoute .list {
    --border-radius: calc(.5em - .25em);

    margin: 0 .5em .5em .5em;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    gap: .2em;
    flex-grow: 1;
    border: .25em solid var(--color-3);
    border-radius: .5em;
    font-size: 1.5em;

}
.productsRoute .list li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 .2em;
}
.productsRoute .list li:first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.productsRoute .list li:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.productsRoute .list li > * {
    border-radius: inherit;
    padding: .1em;
    background-color: rgb(3, 1, 124);
    color: white;
}

.productsRoute .list li button {
    background-color: var(--color-4);
    text-align: center;
    cursor: pointer;
}


/* button */
.productsRoute button.add {
    position: fixed;
    bottom: calc(var(--nav-heigth) + 2em);
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 1.5em;
    background-color: var(--color-4);
    padding: .5em 1em;
    border-radius: .5em;
}